
  .p {
    color: white;
    font-size: calc(15px );
    background-color: #282c34;
    text-align: justify;
}
  
  .Sp-header {
    background-color: #282c34;
    vertical-align: text-top;
    font-size: calc(20px);
    color: white;
  }

  /* Style the table */
table {
    border-collapse: collapse; /* Collapse borders into a single border */
    width: 80%; /* Optional: Adjusts the width of the table */
    margin:0 auto;
}

/* Style table rows and cells */
tr, td, th {
    background-color: #282c34;
    border: 1px solid white; /* White border for rows and cells */
    padding: 8px; /* Add padding for better spacing */
    color: white; /* White text color */
}

body {
  background-color: #282c34;
}

/* Optional: Style table header cells */
th {
    background-color: #282c34; /* Dark background for header cells (optional) */
    font-weight: bold; /* Bold text in header cells (optional) */
}

caption {
    color:white;
    background-color:#282c34
}